<div>
	<p-menubar [model]="items">
		<div>
			<!--      <input type="text" pInputText placeholder="Search">-->
			<!--      <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>-->
		</div>
	</p-menubar>
	<div>
		<h1>Liste des personnes</h1>
		<p-button (click)="showModalDialog()" icon="pi pi-plus" class="" label="ajouter"></p-button>
		<form (ngSubmit)="onSubmit(personne)" #personne="ngForm">
			<p-dialog header="Ajouter une personne" [(visible)]="displayModal" [style]="{width: '25vw',height : '700px'}" [baseZIndex]="10000">
				<ng-template pTemplate="content">
					<h5>Nom</h5>
					<input type="text" pInputText [(ngModel)]="nom" name="nom">
					<h5>Prenom</h5>
					<input type="text" pInputText [(ngModel)]="prenom" name="prenom">
					<h5>Age</h5>
					<input type="text" pInputText [(ngModel)]="age" name="age">
					<h5>Basic</h5>
					<p-autoComplete
							[(ngModel)]="selectedDepartement"
							[suggestions]="filteredDepartement"
							(completeMethod)="filterDepartement($event)"
							name="departement"
							field="designation">
					</p-autoComplete>
				</ng-template>
				<ng-template pTemplate="footer">
					<p-button type="submit">
						<b *ngIf='this.id == ""'>Enregistrer</b>
						<b *ngIf='this.id != ""'>Modifier</b>
					</p-button>
					<p-button (click)="displayModal=false" label="Annuler"></p-button>
				</ng-template>
			</p-dialog>
		</form>
	</div>
	<p-table [value]="personnes" responsiveLayout="scroll">
		<ng-template pTemplate="header">
			<tr>
				<th>id</th>
				<th>nom</th>
				<th>prenom</th>
				<th>age</th>
				<th>departement</th>
				<th>action</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-personne>
			<tr>
				<td>{{personne.id}}</td>
				<td>{{personne.nom}}</td>
				<td>{{personne.prenom}}</td>
				<td>{{personne.age}}</td>
				<td>{{ personne.departement.designation}}</td>
				<td>
					<button pButton pRipple type="button" (click)="showModalDialog(personne.id)" label="modifier" class="p-button-info"></button>
					<button pButton pRipple type="button" (click)="supprimer(personne)" label="supprimer" class="p-button-danger"></button>
				</td>
			</tr>
		</ng-template>
	</p-table>
	<router-outlet></router-outlet>
</div>
